# dependencies
node_modules/

# testing
/coverage

# next.js
.next/
/out/
.next/cache/webpack/

# production
apps/nextjs/build

# misc
.DS_Store
*.pem
.idea
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# Generated build info
reactnative/app/buildInfo.ts
nextjs/node_modules/

# Playwright
nextjs/tests/temp/
nextjs/tests/reports/
nextjs/test-results/
nextjs/playwright-report/
nextjs/.env.test
